
.parallax {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lyndon-4h-sunflowers-kansas-1531164994.jpg");
  opacity: 0.5;
  filter: alpha(opacity=50);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("202798.jpg");
  height: 824px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy;
  font-size: 100px;
  color: white;
}

.line{
  text-decoration-line: none;
  text-decoration: none;
  color: #fdfafa;
}
a, u {
    text-decoration: none;
    color: white
}

#computer{
  background-color: black;
}

.wild2{
  padding-top: 72px;
}

.poop {
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: fantasy;
  font-size: 80px;
  color: white;
}

.sexy2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-49%, -38%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #134200;
  text-decoration-color: #108136;
  color:  #fdfafa;
  font-size: 16px;
  width: 500px;
  height: auto;
  display: block;
}

.thicccc{
  color: white;
  font-family: fantasy;
  position: absolute;
  top: 220%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.poop:hover .thicccc{
  opacity: 0;
}

.poop:hover .sexy2 {
  opacity: 1;
}

#cray{
  color: white;
  font-family: fantasy;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

#ola{
  color: white;
  font-family: fantasy;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

.sexy {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.column:hover .sexy {
  opacity: 1;
}

.column:hover #cray{
  opacity: 0;
}


.column:hover #ola{
  opacity: 0;
}

.fish {
  color: white;
  font-size: 24px;
  font-family: fantasy;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 80px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bottomleft {
  position: absolute;
  bottom: -950px;
  left: 274px;
  font-size: 18px;
}


.bottomright {
  position: absolute;
  bottom: -950px;
  right: 383px;
  font-size: 18px;
}
